.navbar {
  @apply bg-[#171718] px-28 text-white flex justify-between py-5 items-center;
}

.navbar__title {
  @apply text-2xl text-white font-normal;
}

.navbar__list {
  @apply flex space-x-10 border-transparent;
}

.navbar__li {
  @apply relative;
}

.navbar__li:after {
  @apply absolute left-0 right-0 bottom-0 border-b-2 border-[#5C62EC] content-[''];
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.navbar__li:hover:after {
  transform: scaleX(1);
}

.navbar__li-active {
  @apply relative;
}

.navbar__li-active::before {
  @apply absolute left-0 right-0 bottom-0 content-[''] border-b-2 block border-[#5C62EC];
}
